<script src="jquery.js"></script>
<script type="text/javascript">
function animateBackgroundColor(obj) {
    $(obj).addClass('selected-back');
    $('.selected-back').not(obj).removeClass('selected-back');
}
$(document).ready(function() {
    $(".inside-post").click(function(event){
        animateBackgroundColor(this);
        var selectedTextBlock = $(this).find("#"+$(this).attr('id')+"Text");
        selectedTextBlock.show();
        selectedTextBlock.animate({height:80},100,"linear");
        $('.comment-block').not(selectedTextBlock)
            .animate({height:0},100,"linear",
            function(){$('.comment-block').not(selectedTextBlock).hide();})
        selectedTextBlock.focus();
        event.stopPropagation();
    });
    $(".post").click(function(event){
        animateBackgroundColor(this);
        var selectedTextBlock = $(this).find("#"+$(this).attr('id')+"Text");
        selectedTextBlock.show();
        selectedTextBlock.animate({height:80},100,"linear");
        $('.comment-block').not(selectedTextBlock)
            .animate({height:0},100,"linear",
            function(){$('.comment-block').not(selectedTextBlock).hide();})
        selectedTextBlock.focus();
        event.stopPropagation();
    });
    $(".post-content").click(function(event){
        animateBackgroundColor(this.parent());
        var selectedTextBlock = $(this).parent()
            .find("#"+$(this).attr('id')+"Text");
        selectedTextBlock.show();
        selectedTextBlock.animate({height:80},100,"linear");
        $('.comment-block').not(selectedTextBlock)
            .animate({height:0},100,"linear",
            function(){$('.comment-block').not(selectedTextBlock).hide();})
        selectedTextBlock.focus();
        event.stopPropagation();    
    });
});
</script>
<div id="title-text">TALK</div>
<%
def get_post_children(parent, posts)
    children = []
    posts.each do |post|
        if post.reply == parent.id
            children << post
        end
    end
    return children
end 
def render_post_chain(post, posts) %>
    <div class="<%= if post.reply; "inside-post"; else "post"; end %>" id="<%= "p#{post.id.to_s}" %>">
        <div class="post-content">
            <%= h post.content %>
        </div>
        <% get_post_children(post, posts).each do |child|
            render_post_chain(child, posts)
        end %>
        <div class="comment-block-container">
            <textarea class="comment-block" id="<%= "p#{post.id.to_s}Text" %>" placeholder="Comment"></textarea>
        </div>
    </div>
<% end
def get_top_level_posts(posts)
    top_level = []
    posts.each do |post|
        if not post.reply
            top_level << post
        end
    end
    return top_level
end
get_top_level_posts(Post.all).each do |post|
    render_post_chain(post, Post.all)
end %>